.App {
  text-align: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.App-header {
  background-color: #000;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.overlay {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: rgba(24, 25, 48, 0.8);
  z-index: -1;
}
.list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

